$lalaki: #71c2ff;
$babayi: #ff9900;
$hover: gold;
$menu-bg: rgba(0, 0, 0, 0.7);
$menu-fg: white;
$page-bg: rgba(0, 0, 0, 0.3);
$page-fg: #fff;
$content-bg: rgba(255, 255, 255, 0.9);
$content-fg: #777;
$hover: gold;
$grid-gap: 21px;
$max-z-index: 2147483647;
$border-radius: 7px;

@mixin blurred {
    filter: blur(7px);
    -webkit-filter: blur(7px);
}

@mixin transition($transition, $duration) {
    -webkit-transition-duration: $duration;
    -moz-transition-duration: $duration;
    transition-duration: $duration;
    
    -webkit-transition-timing-function: $transition;
    -moz-transition-timing-function: $transition;
    -ms-transition-timing-function: $transition;
    -o-transition-timing-function: $transition;
    transition-timing-function: $transition;
}

@mixin rotate($property) {
    -webkit-transform: rotate($property);
    -ms-transform: rotate($property);
    transform: rotate($property);
    
}

@mixin middle-transform {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

@mixin vcenter-transform {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

@mixin middle-flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@mixin edit-field {
    padding: 3px 7px;
    font-size: 14px;
}

@mixin clear-after {
    content: '';
    display: block;
    clear: both;
}

@mixin flip-horizontal {
    -webkit-transform: rotateY(180deg);;
    -moz-transform: rotateY(180deg);;
    -ms-transform: rotateY(180deg);;
    -o-transform: rotateY(180deg);;
    transform: rotateY(180deg);;
}

@mixin ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-wrap: none;
}

@mixin large-font {
    font-size: 21px;
    font-weight: bold;
    padding: 7px;
}

@mixin blink($icount, $duration) {
    -webkit-animation: blinker $duration linear $icount;
    -o-animation: blinker $duration linear $icount;
    animation: blinker $duration linear $icount;
}

@mixin spin {
    -webkit-animation: spinner 7s linear infinite;
    -o-animation: spinner 7s linear infinite;
    animation: spinner 7s linear infinite;
}

@mixin fadeIn {
    -webkit-animation: fadeIn 1s linear 1;
    -o-animation: fadeIn 1s linear 1;
    animation: fadeIn 1s linear 1;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0.1;
    }
    to {
        opacity: 1.0;
    }
}

@keyframes spinner {
    from {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);;
        -moz-transform: rotate(360deg);;
        -ms-transform: rotate(360deg);;
        -o-transform: rotate(360deg);;
        transform: rotate(360deg);;
    }
}

